html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-wrapper {
  min-height: 100vh;
}

.container-fluid {
  flex: 1;
}
.main-content {
  margin-left: 220px;
  padding: 1rem;
}
.fixed-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 16.666667%; /* = 2 من 12 عمود */
  z-index: 1000;
  overflow-y: auto;
}