<ul class="nav flex-column ">
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/Home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/overview">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/events">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/services">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/contact">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/Login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/Register">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/Cart">🛒 Cart</a>
  </li>
</ul>
