<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/Home" routerLinkActive="active">
      <i class="fas fa-home me-2"></i> Home
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/overview">
      <i class="fas fa-chart-bar me-2"></i> Overview
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/events">
      <i class="fas fa-calendar-alt me-2"></i> Events
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/about">
      <i class="fas fa-info-circle me-2"></i> About
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/services">
      <i class="fas fa-cogs me-2"></i> Services
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/contact">
      <i class="fas fa-envelope me-2"></i> Contact
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/Login">
      <i class="fas fa-sign-in-alt me-2"></i> Login
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/Register">
      <i class="fas fa-user-plus me-2"></i> Register
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/cart">
      <i class="fas fa-shopping-cart me-2"></i> Cart
    </a>
  </li>
</ul>
